html {
	background:#ffffff;
	padding:0px; 
	margin:0px; 
	height:100%;
}
body { 
	background:#ffffff;
	margin:5px;
	min-height: 100%;
}
#info {
/*Contains the top link (Eg: Print, Index A-Z, Site Map, etc.*/
	padding:5px;
	min-width:700px;
	height:12px;
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-position:right top;
	text-align:right;
	}
#info a{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
}
#header{
	background:#f6b70e url(../images/page2_new.jpg) no-repeat;
	border-top:#5569ac 1px solid;
	border-bottom:#3184c2 1px solid;
	border-right:#5569ac 1px solid;
	background-color: #FFFFFF;
    width: 1000px;
	
}
.combo{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	height:18px;
}
#title{
	position:relative;
	left:175px;
	top:45px;
	width:300px;
	height:28px;
	font:bold italic 28px Arial, Helvetica, sans-serif;
	color:#124ba0;
}
#langcombo{
	position:relative;
	left:830px;
	top:10px;
	width:135px;
	height:16px;
}
#history{
	background:#3580bd;
	border-right:#5569ac 1px solid;
	border-bottom:#fcf8cc 3px solid;
	min-width:965px;
	height:18px;
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#f0c311;
}
/*------- The top part of the panels with the rounded corners ------*/
#topPanels{
	min-width:965px;
	height:18px;
	background:url(../images/centraltopline.jpg) repeat-x;
	border-right:#5569ac 1px solid;
	font-size:2px;
}

#container {
/* Contains the left menu (leftPanel), right menu(rightPanel) 
   and the central display (centralPanel) area */ 
	background:#124ba0;
	height:100%;
	border-right:#5569ac 1px solid;
	min-width:965px;
}

/*-----------------  Menu styles -----------------*/
#leftPanel{
	width: 166px; 
	height:100%;
	float: left;
	background-color:#ffffff;
	width:166px;
}
/*----------------- Menu level 1 -----------------*/

#MenuLeft ul{
	list-style:none;
	padding:0px 0px 0px 0px;
	margin:0px;
	line-height:0px;
}
#MenuLeft li{
	padding:0px 0px 0px 0px;
	margin:0px;
	line-height:0px;
}
#MenuLeft ul a{
	padding:2px 3px 2px 30px;
	
	display:block; 
	min-height:21px;
	
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffff;
	text-decoration:none;
}
#MenuLeft ul a.rss{
	background:url(../images/rssicon.jpg)  no-repeat 1px center;
	border-bottom:#ffe075 4px solid;
	height:15px;
}
#MenuLeft ul a.news{
	background:url(../images/newsstar.jpg)  no-repeat 1px center;
	
	border-top:#ffe075 4px solid;
}
#MenuLeft ul a:hover {
	color: #ff9900;
}
/*----------------- Menu level 2 -----------------*/
#MenuLeft ul ul {
	margin-top:-1px;
}
#MenuLeft ul ul a {
	padding:3px 3px 3px 38px;
	min-height:10px;
	
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffff;
	
	display:block;
	text-decoration:none;
}
#MenuLeft ul ul a:hover {
	color:#f7941d;
}
.leftpanelbottomspace{
	background:url(../images/leftmenubottom.jpg) repeat-x;
	position:relative;
	border-top:#ffe075 4px solid;
	text-align:right;
	height:16px;
	width:166px;
}
/*----------------- login form -----------------*/
p.login{
	margin:5px 0px 0px 0px;
	background-color:#ffffff;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
}
label.login{
	background-color:#ffffff;
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
}
input.login{
	min-height:13px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
form{
	margin: 0px 0px 0px 10px;
}
p.login a{
	text-decoration:none;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
}
/*----------------- Central panel -----------------*/
#centralPanel{
	background-color:#ffffff;
	border-left:#ffffff 1px solid;
	border-right:#ffffff 1px solid;
}
#newsSection{
	margin:0px 25px 0px 25px;
	background-color:#fcf8cc;
	border-right:#b1b3b6 2px solid;
	border-bottom:#b1b3b6 2px solid;
	min-width:400px;
}
p.newsTitle{
	margin:0px;
	padding:5px 0px 5px 25px;
	background:#ffffff url(../images/newsstar.jpg) no-repeat;
	border-bottom:#ffe075 2px dashed;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
}
p.newsContent{
	margin:0px 3px 0px 3px;
	padding:10px 0px 10px 0px;
	background-color:#fcf8cc;
	font:10px Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#006faf;
}
.contentSection{
	margin:15px 25px 15px 25px;
	background-color:#ffffff;
}
.sectionText{
	margin:0px 0px 15px 0px;
	background-color:#ffffff;
}
p.pageTitle{
	margin:0px;
	padding:3px 0px 4px 10px;
	height:19px;
	background:url(../images/section1title.jpg) #ffffff no-repeat;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-align:left;
}
p.sectionHeadline{
	margin:0px;
	padding:0px 0px 0px 8px;
	background:url(../images/textBullet.gif) no-repeat #ffffff 1px center;
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	color:#006faf;
}
p.sectionText{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	color:#006faf;
	margin:3px 0px 3px 0px;
}
/*-------------- styles for the publications table --------------*/
.bookTitle{
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	border-bottom:solid 1px #ffe075;
	padding:0px 0px 0px 0px;
	height:25px;
}
.tableHeader{
	font:oblique bold 10px Verdana, Arial, Helvetica, sans-serif;
	color:#58585a;
	border-bottom:solid 1px #ffe075;
	padding:5px 0xp 0px 0px;
	height:25px;
}
.bookDetails{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#58585a;
	border-bottom:solid 1px #ffe075;
	padding:5px 0xp 0px 0px;
	height:25px;
}
.central{
	border-left:#ffe075 1px solid;
	border-right:#ffe075 1px solid;
}
/*------ Right panel ------*/
#rightPanel{
	background-color:#ffffff;
	display:block;
	top:0px;
	width:216px;
	height:100%;
}

form.quickSearch{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	background-color:#fdf3bc;
}

input.quickSearch{
	min-height:13px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
	margin-left:5px;
}
/*----------------- Right Menu -----------------*/
/*************************************************/
#MenuRight {
	background-color:#ffffff;
	background-repeat:no-repeat;
	font:bold 14px Verdana, Arial, Helvetica, sans-serif;
	width:100%;
	padding-bottom:19px;
}
#MenuRight ul{
	list-style:none;
	padding:0px 0px 0px 0px;
	margin:0px;
	line-height:0px;
	border-bottom:#ffe075 4px solid;
	border-top:#ffe075 4px solid;
}
#MenuRight li{
	padding:0px 0px 0px 0px;
	margin:0px;
	line-height:0px;
}
#MenuRight ul a{
	padding:3px 3px 6px 30px;
	border-top:#ffe075 1px solid;
	display:block; 
	min-height:21px;
	background:url(../images/menustar.jpg) #ffffff no-repeat 1px center;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	text-decoration:none;
}
#MenuRight ul a.basket{
	background:url(../images/shopingbasket.jpg) #ffffff no-repeat 1px center;
}
#MenuRight ul a:hover {
	color: #ff9900;
}
/*----------------- Menu level 2 -----------------*/
#MenuRight ul ul {
	margin-top:-1px;
	border-bottom:0px;
	border-top:0px;
}
#MenuRight ul ul a {
	padding:3px 3px 3px 38px;
	min-height:10px;
	background:url(../images/leftmenu_bullet.gif) #ffffff no-repeat 30px center;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	border-top:#ffe075 1px solid;
	display:block;
	text-decoration:none;
}
#MenuRight ul ul a:hover {
	color: #f7941d;
}
#MenuRight ul.outer{
	padding:0px;
	margin:0px;
	line-height:0px;
	border:0px;
}
#MenuRight li.outer{
	padding:5px 0px 5px 0px;
	margin:0px 0px 0px -1px; 
	line-height:0px;
	border:0px;
	background:url(../images/otherlinkscontent.jpg) repeat-y 1px center;
}
#MenuRight ul.outer a{
	padding:0px 0px 0px 40px;
	margin:0px 10px 0px 10px;
	display:block; 
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	border:0px;
	text-decoration:none;	
	text-align:left;
}
#MenuRight ul.outer a.euPub{
	background:url(../images/eu_publications_icon.jpg) no-repeat 1px top;
	line-height:16px;
	vertical-align:top;
}
#MenuRight ul.outer a.euLex{
	background:url(../images/eu_lex_icon.jpg) no-repeat 1px top;
	line-height:16px;
	vertical-align:top;
}
#MenuRight ul.outer a.euRD{
	background:url(../images/eu_rd_icon.jpg) no-repeat 1px top;
	line-height:16px;
	vertical-align:top;
}
#MenuRight ul.outer a.euDir{
	background:url(../images/eu_dir_icon.jpg) no-repeat 1px top;
	line-height:16px;
	vertical-align:top;
}
#MenuRight ul.outer a.euTen{
	background:url(../images/eu_ten_icon.jpg) no-repeat 1px top;
	line-height:16px;
	vertical-align:top;
}

/*************************************************/

div.outerLinkTop{
	background:url(../images/otherlinkstop.jpg) #ffffff no-repeat;
	min-height:13px;
	font-size:10px;
}
p.outerLinkTitle{
	background:url(../images/otherlinkscontent.jpg) #ffffff repeat-y;
	font:bold 11px  Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	padding:0px 0px 10px 5px;
	margin:0px;
}
div.outerLinkBottom{
	background:url(../images/otherlinksbottom.jpg) #ffffff no-repeat;
	min-height:10px;
	font-size:8px
}

#footer {
/*Contains the bootom links (Eg: Print, Index A-Z, Site Map, etc.*/
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#006cb7;
	background:#ffffff;
	text-align:left;
	padding:5px;
	min-width:558px;
	height:27px;
	float:left;
}
#footer a{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#006cb7;
	text-decoration:none;
}
#top{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#006cb7;
	background:#ffffff;
	text-align:right;
	padding:5;
	min-width:558px;
	height:12px;
	float:right;
}
#top a{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#006cb7;
	text-decoration:none;
}

/***************************************************************************************/
/****************** registered user style *****************************/
/****************** Left menu style ***********************************/
#MenuLeft ul.reg_user{
	list-style:none;
	padding:0px 0px 0px 0px;
	margin:0px;
	line-height:0px;
}
#MenuLeft li.reg_user{
	padding:0px 0px 0px 10px;
	margin:0px;
	line-height:0px;
}
#MenuLeft ul.reg_user a{
	padding:0px 0px 0px 10px;
	margin:2px 0px 2px 0px;
	min-height:11px;
	border-top:#ffffff 1px solid;
	display:block; 
	background:url(../images/reg_user_bullet.gif) #ffffff no-repeat 1px center;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#58585a;
	text-decoration:none;
}
#MenuLeft ul.reg_user a.delete{
	margin:4px 0px 4px 0px;
	background:url(../images/reg_user_del.gif) #ffffff no-repeat 1px center;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
}
p.reg_user_title{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006cb7;
	line-height:14px;
	margin:2px 0px 2px 3px;
}
p.reg_user_username{
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color:#58585a;
	line-height:14px;
	margin:2px 0px 2px 3px;
}
/********************* Right menu style ******************************/
p.newPubTitle{
	background:#ffffff;
	font:bold 11px  Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	padding:10px 0px 10px 5px;
	margin:0px;
}
td.bookIcon{
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	border-bottom:solid 0px #ffffff;
	padding:10px 0px 0px 5px;
}
.bookTitleRight{
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	border-bottom:solid 1px #ffe075;
	padding:5px 0px 5px 5px;
}
.bookDetailsRight{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#58585a;
	border-bottom:solid 1px #ffe075;
	padding:5px 0px 5px 5px;
	vertical-align:text-top;
}
.allPub{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	padding:0px 0px 0px 5px;
	text-decoration:none;
}
a.search{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	padding:0px 0px 0px 0px;
	text-decoration:none;
}
a.search:hover{
	color:#f7941d;
}
form.selectCriteria{
	margin:0px;
	font:10px Verdana, Arial, Helvetica, sans-serif;
	color:#006faf;
	
}
/************************* Sales Agent Style ***************************/
p.bookAbstract{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#55585b;
	background:#fcf8cc;
	margin:0px 10px 0px 10px;
}
p.bookDescription{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#006faf;
	background:#ffffff;
	margin:10px;
}
p.bookInfo{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#006faf;
	background:#ffffff;
	margin:0px 10px 0px 10px;
}
p.bookInfoDetails{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#2e3092;
	background:#ffffff;
	margin:0px 10px 0px 10px;
}
.bookFormat{
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#2e3092;
	background:#ffffff;
	margin:0px 10px 0px 10px;
	border-bottom:solid 1px #ffe075;
}
input.navigation{
	font:10px Verdana, Arial, Helvetica, sans-serif;
	height:18px;
}
#test{
	min-width:600px;
}